---
- name: Set fact to delete RDS instance
  set_fact:
    rds_command: delete
  tags: [ delete-rds, delete-all, never ]

- name: Provision RDS
  rds:
    command: "{{ rds_command }}"
    instance_name: "{{ rds_instance_name }}"
    instance_type: "{{ rds_instance_type }}"
    db_engine: "{{ rds_db_engine }}"
    engine_version: "{{ rds_engine_version }}"
    size: "{{ rds_size }}"
    username: "{{ rds_master_username }}"
    password: "{{ rds_master_password }}"
    subnet: "{{ rds_subnet }}"
    vpc_security_groups: "{{ rds_security_groups }}"
    publicly_accessible: "{{ rds_publicly_accessible }}"
    region: "{{ aws_region }}"
  register: rds

- set_fact:
    rds_endpoint: "{{ rds.instance['endpoint'] }}"
