[client]
host = {{ fedora_mysql_db.host | d (rds_endpoint) | d (fedora_db_host) }}
user = {{ fedora_mysql_db.user | d (fedora_db_user) }}
password = {{ fedora_mysql_db.password | d (fedora_db_password) }}

[mysql]
database = {{ fedora_mysql_db.name | d (fedora_db_name) }}
