[defaults]
#gathering = smart
#fact_caching = jsonfile
#fact_caching_connection = ./facts/
#fact_caching_timeout = 10
#vault_password_file = ~/.vault_password
host_key_checking = False
roles_path = ./roles:
log_path = ./cor-cm.log
inventory = ./hosts
retry_files_enabled = False
