mydumper {% for key, value in outer_item | dictsort -%}{% if (( key == "__outputdir" or key == "_o") and (outer_item.index_outputdir | d (false) )) -%}
{{ key | replace("_", "-") }} {{ value }}-{{ outer_index1 }} {% elif (key != 'index_outputdir') and (value | lower != 'omit') -%} 
{{ key | replace("_", "-") }} {{ value }} {% endif -%}{%- endfor %}}
