{
  "Version":"2012-10-17",
  "Statement":[
    {
      "Sid":"InventoryAndAnalyticsExamplePolicy",
      "Effect":"Allow",
      "Principal": {"Service": "s3.amazonaws.com"},
      "Action":["s3:PutObject"],
      "Resource":["arn:aws:s3:::{{ item.destination_bucket }}/*"],
      "Condition": {
          "ArnLike": {
              "aws:SourceArn": "arn:aws:s3:::{{ item.source_bucket }}"
           },
         "StringEquals": {
             "aws:SourceAccount": "{{ aws_account_number }}",
             "s3:x-amz-acl": "bucket-owner-full-control"
          }
       }
    }
  ]
}