#cloud-config
hostname: {{ ec2_fqdn }}
fqdn: {{ ec2_fqdn }}
manage_etc_hosts: true

packages:
- nfs-utils

runcmd:
{% for efs in efs_mount_points %}
- mkdir -p {{ efs.path | d ('/mnt/efs') }}
- chown ec2-user:ec2-user {{ efs.path | d ('/mnt/efs') }}
- chmod 777 {{ efs.path | d ('/mnt/efs') }}
- echo "{{ efs.dns_name }}:/ {{ efs.path | d ('/mnt/efs') }} nfs4 nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 0 0" >> /etc/fstab
{% endfor %}
- mount -a -t nfs4
