<VirtualHost *:80>

  ServerName {{ solr_fqdn }}
{% if solr_alias is defined %}
  ServerAlias {{ solr_alias }}
{% endif %}
  ErrorLog /var/log/httpd/solr/error_log
  CustomLog /var/log/httpd/solr/access_log combined

  HostnameLookups Off

  UseCanonicalName On

  ProxyRequests Off
  <Proxy *>
    Require all granted
  </Proxy>

  ProxyPreserveHost On

  ProxyPass /solr http://localhost:{{ solr_port }}/solr
  ProxyPassReverse /solr http://localhost:{{ solr_port }}/solr
  ProxyTimeout 300
  <Location /solr>
    Require all granted
  </Location>

</VirtualHost>
