---
- name: Get inventories from JobID
  uri:
    url: '{{ tower_url }}/api/v2/jobs/924/'
    user: '{{ tower_username }}'
    password: '{{ tower_password }}'
    body_format: json
    force_basic_auth: yes
  register: job_inventory_info

- set_fact:
    inventory_id: "{{ job_inventory_info.json.inventory }}"
  
- name: Update inventory sources
  uri: 
    url: '{{ tower_url }}/api/v2/inventories/{{ inventory_id }}/update_inventory_sources/'
    user: '{{ tower_username }}'
    password: '{{ tower_password }}'
    body_format: json
    force_basic_auth: yes
    method: POST
  register: update_inventory_sources_info

- name: Set fact for updatable inventory
  set_fact:
    updating_inventory_sources: '{{ update_inventory_sources_info.json }}'
  
- name: Ensure inventory update has succeeded
  uri:
    url: '{{ tower_url }}/api/v2/inventory_updates/{{ item.inventory_update }}/'
    user: '{{ tower_username }}'
    password: '{{ tower_password }}'
    body_format: json
    force_basic_auth: yes
  loop: '{{ updating_inventory_sources }}'
  until: status is "successful"
  retries: 100
  delay: 10
  vars:
    status: '{{ inventory_job_update_info.json.status }}'
    failed: '{{ inventory_job_update_info.json.failed }}'
  register: inventory_job_update_info

- debug:
    var: inventory_job_update_info.json.failed