---
- name: Read {{ bucket_type }} csv file
  async: 900
  poll: 0
  read_csv:
    path: '{{ csv_path }}'
    fieldnames: '{{ source_inventory_json.fileSchema | regex_replace(" ", "") }}'
    key: Key
  register: read_csv_info

- name: Add read csv info to list
  set_fact:
    '{{ bucket_type }}_csv': '{{ lookup("vars", bucket_type + "_csv", default={}) | combine (read_csv_info.dict) }}'
