---
# Define the major version of Apache Tomcat to download (e.g. 6, 7, 8)
tomcat_major_version: 7

# Define the version of Apache Tomcat to download
tomcat_version: 7.0.67

tomcat_download_url: "http://archive.apache.org/dist/tomcat/tomcat-{{ tomcat_major_version }}/v{{ tomcat_version }}/bin/apache-tomcat-{{ tomcat_version }}.tar.gz"

# This is a list defining all of the Tomcat apps to be created
# The list provided her will be used for creating the following:
# 	1. App directories
#	2. Dedicated App Users/Groups
#	3. Init scripts
#	4. Enviornment variable files
#
#	app_name is the Tomcat applicaiton's app_name
#	shut_port is the Tomcat applicaiton's shutdown port
#	conn_port is the Tomcat application's connector port
#

tomcat_applications:
  - app_name: app1
    shut_port: 8006
    conn_port: 8081
    rproxy_path: path1
    proxypass_extra_params: "nocanon keepalive=on"
  - app_name: app2
    shut_port: 8007
    conn_port: 8082
    rproxy_path: path2
    proxypass_extra_params: "nocanon"

# Server name to use in the Apache HTTPD reverse proxy vhost file
tomcat_server_name: "{{ ansible_fqdn }}"

# Tomcat conf sub-directories that should be copied from CATALINA_HOME to CATALINA_BASE
tomcat_subdirs: [ conf, logs, temp, webapps, work ]

# Tomcat default webapps that should be removed
default_webapps: [ docs, examples, host-manager, manager, ROOT ]

# LVM Filesystem variables
vg_name: vg_apps

lv_size: 5G

lvm_base_path: "/dev/mapper/vg_apps"

use_lvm: yes

# SSL Defaults - these are used for local dev environments
# This are overriden by variable definitions in host_vars
############################################################
tomcat_enable_ssl: "yes"

ssl_cert_base_path: "/etc/pki/tls"

ssl_cert_file_path: "{{ ssl_cert_base_path }}/certs"

ssl_key_file_path: "{{ ssl_cert_base_path }}/private"

ssl_files:
  self_signed: "yes"
  crt: |
    -----BEGIN CERTIFICATE-----
    MIID1jCCAr4CCQDMKFe9ly+b4TANBgkqhkiG9w0BAQsFADCBrDELMAkGA1UEBhMC
    VVMxEzARBgNVBAgTCkNhbGlmb3JuaWExFDASBgNVBAcTC0xvcyBBbmdlbGVzMS4w
    LAYDVQQKEyVVbml2ZXJzaXR5IG9mIENhbGlmb3JuaWEsIExvcyBBbmdlbGVzMSkw
    JwYDVQQLEyBVQ0xBIExpYnJhcnkgSW5mb3JtYXRpb24gU3lzdGVtczEXMBUGA1UE
    AxMObG9jYWxkZXYubG9jYWwwHhcNMTcwOTE4MjAzMjU1WhcNMTcxMDE4MjAzMjU1
    WjCBrDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExFDASBgNVBAcT
    C0xvcyBBbmdlbGVzMS4wLAYDVQQKEyVVbml2ZXJzaXR5IG9mIENhbGlmb3JuaWEs
    IExvcyBBbmdlbGVzMSkwJwYDVQQLEyBVQ0xBIExpYnJhcnkgSW5mb3JtYXRpb24g
    U3lzdGVtczEXMBUGA1UEAxMObG9jYWxkZXYubG9jYWwwggEiMA0GCSqGSIb3DQEB
    AQUAA4IBDwAwggEKAoIBAQDBF6FrV8hIm2axlirvAOk9Oy0TMbkvKRrK0DglYccc
    Xxqu9KbD+V7q/7SS3y/7Ih4AQmyAe453K/fDZ9nyjaLgOKziqFJBwn6i8swuIXFR
    pWs+g3udxrzO3ArjTwRC3NCqxlAKQfEw/iaaLlnlx3gigGhofzrmaoXMQvtQswOl
    88BWCIjjJj/GEU3MkUmlSmsX9bR6/N3H43yCt7hvM+99i0sUVnjIK+VN4P3uW6+L
    5mOU+TqywKaI66oaPsCuR0lZKRPsOWhszVUF86fcb5lr46DAsyj99y+GTFHNvwPT
    hJajQe3/G/yeH8jwo/x4hqVG0Nuvv6jvFG1RhTvHGEI7AgMBAAEwDQYJKoZIhvcN
    AQELBQADggEBAAQ4T0VOQ65HhV0cXaUClw5k4Jy/zMEwa8D5OIq48yFyclASPQNN
    oG+iLva7t2+iKtqTTeGGbf2Z6z/YGPzP0UdQiOnfX4FUNp5RWDlgHHDUb0GdRMQI
    +0OdFTbSX5SpfWAC4CzEdJZiAm5ifOtgmhlKYVxI1MV4SMWKu9wp+h3pbdHCznqS
    rhpypS9OxvildHgYUkw/gIzXLDjjX4AK29mzdiZxjU//wbxkch2fJQEY9PyES2I4
    yhCDe6nlxRAMLIez2RiI0nJ7Cu9ekaDZAFnbtpDjGz8iZ57SbZlJ/Xc8svVdViHc
    kb+En24PtnCediAvW8BbgnSYvq3Sisel0gg=
    -----END CERTIFICATE-----
  key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEowIBAAKCAQEAwReha1fISJtmsZYq7wDpPTstEzG5LykaytA4JWHHHF8arvSm
    w/le6v+0kt8v+yIeAEJsgHuOdyv3w2fZ8o2i4Dis4qhSQcJ+ovLMLiFxUaVrPoN7
    nca8ztwK408EQtzQqsZQCkHxMP4mmi5Z5cd4IoBoaH865mqFzEL7ULMDpfPAVgiI
    4yY/xhFNzJFJpUprF/W0evzdx+N8gre4bzPvfYtLFFZ4yCvlTeD97luvi+ZjlPk6
    ssCmiOuqGj7ArkdJWSkT7DlobM1VBfOn3G+Za+OgwLMo/fcvhkxRzb8D04SWo0Ht
    /xv8nh/I8KP8eIalRtDbr7+o7xRtUYU7xxhCOwIDAQABAoIBAFgA2hvfNTQKR4KW
    i1jElIjIqKF/3wOke0aGIaC/8Ix4t+OXM05MIDuAcR8jQ230vbGmlGb2aRbdXh2b
    /lQyw1Hn4rumtV6tMyQ2/mHj8g6hEsC6EiP1iOXKmdfBkpKaqyu6GI6kQTXwD03j
    5Cr6f0FSPsOpgQG0+OgAeyPrgrUmGLb5PoFTcog/A9QVVosT8izOjXlMPBt5VTZK
    aSUik+FjnszRTBd3Sw2n7bP6Qzff6VVO7DXSPbKGvPJR5lLwL8oAzgrJ8rJEykdo
    3UlH8/o2tpO0WIvzKQ03pjAJl1Jm3FqhHOMPaVfK+RjakPaZWH/bjuSyD6BwBrdN
    kPc6zYECgYEA68QqlKC69/458ggvQH8mmrXf0RJyCoOxjyE7v5wWP3o4HF/90lHZ
    yZVnGXqkRp42StH6fM6+8FzaiyO1TvYI/4TD+QRS7yCg8CYkT4SxHplFG2Nw3kzO
    t9xMVJ9ZDJ4UFrUUq7eFjvJEzOe22ZGyaNAP3Fl1JGKpD+0bgaqnDMECgYEA0ano
    iPCpumiZKOp8s9uYh0bVM8/bUX+/3Jo8B8al3BElMKwIJViCImXNgXGDmRPrwYkC
    /zpNQibaJOBZODhJPE/cNmm0Wz8iFCc0ALA3y/GLkHFVE6O2i35aBXaZq4MJnB+8
    zCxQGhQ107GcPQ7nPJlp3oR4gXVxtLMiDCTCAfsCgYBbayEnqHtXFdjaJJpN4//Q
    FZ3Hr+NQeGgtG7HTRm7KBlYjioUdPGe6ZpgnpQp153sd3/XE11XqVdbYBOyUxYoP
    qidjM24FEx3UgLWrr8QOHVhSmmh1ikrNuDpQxcj9v34CoAx32R2MpBxRZ7fa/Ue0
    pJjB1F470ZXEeygjS0yjAQKBgQDIVBsuNR1HUkf9c0dhptGvd7ugvNsmnPSaePgg
    yeqSQgOR5N4HqPD2ouTf6LE/42vgyOQHMBK/wVWv5Hj7IbTAHuIfT5KXmNQcA3VJ
    rxYxFIMwqUkL8eIqmLi0/aRI33SgKyb+wtxqfqMLuWm6YXIKUd95UIO/1pKlgH9o
    sPp6XwKBgF8hmVYizLqJLWn6v08nC5f//GsLIIl63alaNzhAFW2UYRraHe046SWM
    /Y/HO2SONIvSMun4TOg09I0w39bjG0Qp49Lbo6HzEnnj7CDoCcD+4/2a/rXoF2dj
    GwAgg0rDBsH+meR5L6c+aalvzBazpiov3bCrknMYvgh56jVEdwIU
    -----END RSA PRIVATE KEY-----

############################################################
# New vars added for compatibilty with add-ubuntu-functionality branch
environment_var_path: "/etc/sysconfig"
apache_log_path: "/var/log/httpd"
apache_vhosts_path: "/etc/httpd/vhosts.d"
apache_conf_path: "/etc/httpd/conf.d"
tomcat_install_path: "/usr/local"
tomcatapp_install_path: "/usr/local"
java_home: "/usr/lib/jvm/java"
basename_path: "/bin"
proxy_solr_tomcat_conf: "no"

jsw_base_url: https://download.tanukisoftware.com/wrapper
jsw_version: 3.5.37
jsw_os: linux
jsw_cpu: x86
jsw_bit: 64 #32 or 64
jsw_edition: "" # "-st" for Standard Edition, "-pro" for Professional, leave blank for Community
jsw_file_name: "wrapper-{{ jsw_os }}-{{ jsw_cpu }}-{{ jsw_bit }}-{{ jsw_version }}{{ jsw_edition }}"
jsw_download_url: "{{ jsw_base_url }}/{{ jsw_version }}/{{ jsw_file_name }}.tar.gz"

jsw_binaries:
  - src: /tmp/{{ jsw_file_name }}/lib/libwrapper.so
    dest: /{{ tomcat_install_path }}/tomcat{{ tomcat_major_version }}/lib
  - src: /tmp/{{ jsw_file_name }}/lib/wrapper.jar
    dest: /{{ tomcat_install_path }}/tomcat{{ tomcat_major_version }}/lib
  - src: /tmp/{{ jsw_file_name }}/bin/wrapper
    dest: /{{ tomcat_install_path }}/tomcat{{ tomcat_major_version }}/bin

demoapp_values:
  - regexp: "^APP_NAME"
    line: 'APP_NAME="{{ outer_item.app_name }}"'
  - regexp: '^APP_LONG_NAME'
    line: 'APP_LONG_NAME="{{ outer_item.app_long_name }}"'
